{% extends 'base.html' %}

{% block head %}

<title>Register</title>
{% endblock %}

{% block body %}
  
<div class="items-center justify-center flex flex-col bg-transparent">
      {% if result|length > 0 %}
        <!-- myalert({{result.message}}) -->
        <div class="mb-5">
          <p class="text-center text-xs text-yellow-700 font-bold">{{result.message}}</p>
          <p class="text-center text-xs text-yellow-700 font-bold">{{result.option}}</p>
        </div>
        
      {% endif %}
    <div class="flex flex-col bg-white px-12 py-8 shadow-2xlv md:rounded-lg">
      
      <div class="text-base md:text-2xl">CREATE NEW ACCOUNT</div>
      <div class="mt-8">
        
        <form action="/register" method="POST">

          <div class="mb-5">
            <label for="fname" class="text-gray-600 mb-1">First Name:</label>
            <div class="relative">
                <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-600">
                    <svg  class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                      </svg>
                </div>
                <input id="fname" type="text" name="fname" minlength="3" maxlength="12" pattern="[a-zA-Z]*"
                  class="placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-green-400" placeholder="First Name" required/>
            </div>
          </div>

          <div class="mb-5">
            <label for="lname" class="text-gray-600 mb-1">Last Name:</label>
            <div class="relative">
                <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-600">
                    <svg  class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                      </svg>
                </div>
                <input id="lname" type="text" name="lname" minlength="3" maxlength="12" pattern="[a-zA-Z]*"
                class="placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-green-400" placeholder="Last Name" required/>
            </div>
          </div>

          <div class="mb-5">
            <label for="email" class="text-gray-600 mb-1">E-Mail Address:</label>
            <div class="relative">
                <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-600">
                  <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                  </svg>
                </div>
                <input id="email" type="email" name="email" class="placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-green-400" placeholder="E-Mail Address" required/>
            </div>
          </div>

          <div class="mb-5">
            <label for="password" class="text-gray-600 mb-1">Password:</label>
            <div class="relative">
                <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-600">
                  <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                  </svg>
                </div>
                <!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"  -->
                <input id="password" type="password" name="password" minlength="6"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    class="placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-green-400" placeholder="Password" required/>
            </div>
          </div>
  
          <div class="mt-6">
            <button type="submit"
                class="flex items-center justify-center focus:outline-none 
                    text-white text-sm sm:text-base bg-green-600 hover:bg-green-800 rounded py-2 w-full">
              <span class="mr-2">REGISTER</span>
              <span>
                <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                </svg>
              </span>
            </button>
          </div>

        </form>
      </div>
      <div class="flex justify-center  mt-6">
        <a href="/" target="_self"  class="inline-flex text-green-600 hover:text-green-800 ">
        <span>
            <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
            </span>
          <span class="ml-2">Already have an account?</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
